# Ignore all Markdown files
*.md

# Except README.md
!README.md

# Node modules
/node_modules

# Cypress artifacts
/cypress/reports
/cypress/screenshots
/cypress/videos
/cypress/downloads

# Environment files
.env
.env.local
cypress.env.json

# Keep example files
!.env.example

# K6 reports
/k6/reports
*.html